
html{
  background: #000 bottom center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;

}

body{
  background: none;

  text-align: center;

  font-family: "Press Start 2P", sans-serif;


  color: #FFF;
  text-shadow: #21B7D4 0px 2px 0px;

}


h1, h2, h3, h4, .rollup
{
  font-family: "transformers", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 100px;

  color: #FECDEA;
  text-shadow: #B52C80 0px 0px 20px;

}

h2
{
    font-size: 48px;
}

.rollup
{
    font-size: 2em;
}

li
{
  list-style-position:inside;
  list-style: none;


}

h1
{
  font-size: 80px;
  line-height: 70px;
}

#header
{
  background: url("../img/pizzaSpin.gif") center center no-repeat;
  background-size: contain;
  padding: 80px 0px;
}

#photos
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#photos img
{
    width: 150px;
    height: 150px;
    margin: 10px;
}


dt
{
    color: #FECDEA;
    text-shadow: #B52C80 0px 2px 0px;
}

dd
{
    margin-bottom: 30px;
}

a img
{
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  display: block;
  border: 2px solid #FECDEA;
}

a img:hover
{
  transform: translateY(-10px);
}



.container
{
    width: 900px;
    margin: 0px auto;
  line-height: 2em;
}


.btn
{
  background: #222;
  border-radius: 10px;
  border-bottom: 5px solid #333;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1em;
  margin: 40px;
  display: block;
  color: #FFF;
}

.btn:hover
{
    background: #37B9D1;
    border-color: #117A8E;
}
